* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
}

/* header */
header {
  padding: 26px 0 22px;
  border: 2px solid fuchsia;
}
header .logo {
  max-width: 156px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid fuchsia;
}
header .logo img {
  width: 100%;
}
header .background-image {
  border: 1px solid red;
  background-image: url('../img/header-background-image.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: auto;
}
header p {
  color: #ffffff;
}
